
\.vs/Galenos/v15/\.suo
Biblioteca/obj/
ConsolaPruebas/obj/
Galenos/obj/
.vs/Galenos/
ConsolaPruebas/bin/Debug/ConsolaPruebas.pdb
ConsolaPruebas/bin/Debug/ConsolaPruebas.exe.config
Biblioteca/bin/Debug/Biblioteca.pdb
Biblioteca/bin/Debug/Biblioteca.dll
ConsolaPruebas/bin/Debug/ConsolaPruebas.exe
ConsolaPruebas/bin/Debug/Biblioteca.pdb
ConsolaPruebas/bin/Debug/Biblioteca.dll
